{% extends "base.html" %} {% block content %}
<h1 class="text-xl p-1 bold">Add a member</h1>
<br />
<form action="" method="post" novalidate>
  {{form.hidden_tag()}}
  <p>
    {{form.memberID.label}}<br />
    {{form.memberID(size=32, class="form-control form-control-sm border
    border-black border-slate-500")}}
  </p></br>
  <p>
    {{form.name.label}}<br />
    {{form.name(size=32, class="form-control form-control-sm border
    border-black border-slate-500")}}
  </p></br>
  <p>
    {{form.email.label}}<br />
    {{form.email(size=32, class="form-control form-control-sm border
    border-black border-slate-500")}}
  </p></br>
  <button class="rounded-none bg-indigo-700 text-white p-2">Add Member</button>
</form>
{%endblock%}
