<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% if title %}
    <title>{{ title }} - Library</title>
    {% else %}
    <title>Library App</title>
    {% endif %}
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- <nav class = "bg-indigo-700 shadow-lg">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href = "/login">Login</a></li>
      <li><a href = "/books">Books</a></li>
      <li><a href = "/members">Members</a></li>
      <li><a href = "/addbooks">Add Books</a></li>
      <li><a href = "/addmembers">Add Members</a></li>
      <li><a href = "/importbooks">Import Books</a></li>
    </ul>
  </nav> -->
    <nav class="bg-indigo-700 shadow-lg py-5">
      <div class="container mx-auto">
        
        <ul class="flex">
          
          <li class="mr-20">
            <a
              class="text-white text-lg hover:text-indigo-200 py-4 px-2 border-b-4 border-indigo-700 hover:border-indigo-200"
              href="/"
              >BookStacker</a
            >
          </li>
          <li class="mr-6">
            <a
              class="text-white hover:text-indigo-200 py-4 px-2 border-b-4 border-indigo-700 hover:border-indigo-200"
              href="/books"
              >Books</a
            >
          </li>
          <li class="mr-6">
            <a
              class="text-white hover:text-indigo-200 py-4 px-2 border-b-4 border-indigo-700 hover:border-indigo-200"
              href="/members"
              >Members</a
            >
          </li>
          <li class="mr-6">
            <a
              class="text-white hover:text-indigo-200 py-4 px-2 border-b-4 border-indigo-700 hover:border-indigo-200"
              href="/issuebooks"
              >Issue Books</a
            >
          </li>
          <li class="mr-6">
            <a
              class="text-white hover:text-indigo-200 py-4 px-2 border-b-4 border-indigo-700 hover:border-indigo-200"
              href="/transactions"
              >Transactions</a
            >
          </li>
          <li class="mr-6">
            <form action="/search" method="post" name="search" novalidate>
              {{form.hidden_tag()}}
              <p>
                <input
                  class="rounded-none bg-white text-black"
                  name="search"
                  placeholder=" Search for Books"
                  type="text" />
                  <button class="rounded-none bg-indigo-700 text-white hover:text-indigo-200 hover:border-indigo-200 px-2">Search</button>
              </p>
              
            </form>
          </li>
        </ul>
        
      </div>
    </nav>
    <hr />
    {% block content %}{% endblock %}
  </body>
</html>
