{% extends "base.html" %}
{% block content %}

<h1><b>Return Book</b></h1>
<h5>Per Day Fee = {{transactions[3]}}</h5>
<h5>Borrowed On = {{transactions[6]}}</h5>
<h5>Rented for = {{difference}} days</h5>
<h5>Amount Due = <b>{{total_fee}}</b></h5>
<hr>
<br />
<form action="" method="post" novalidate>
  {{form.hidden_tag()}}
  <p>
    {{form.amount_paid.label}}<br />
    {{form.amount_paid(size=32, class="form-control form-control-sm border border-black border-slate-500")}}
  </p>
  <br />
  <button class="rounded-none bg-indigo-700 text-white p-2">Return Book</button>
</form>




{% endblock %}